:root {
  --cancel-color: red;
  --success-color: green;
  --width-button: 200px;
  --height-button: 50px;
  --color-light-mode: #1565c0;
  --color-dark-mode: #fff;
}

.MuiButtonBase-root {
  position: absolute;
}
.Div-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fc;
  padding: 20px;
  gap: 15px;
}

.Div-Container div {
  margin-bottom: 10px;
}

#LogoPath {
  width: 150px;
  height: auto;
  object-fit: cover;
}

#ContainerDIV {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

#LightMode {
  width: 30px;
  height: fit-content;
  z-index: 9999;
  position: absolute;
  right: 70px;
  top: 20px;
  cursor: pointer;
  color: var(--color-light-mode);
}

#DarkMode {
  width: 30px;
  height: fit-content;
  z-index: 9999;
  position: absolute;
  right: 70px;
  top: 20px;
  cursor: pointer;
  color: var(--color-dark-mode);
}

#ArrowBTN {
  position: absolute;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin: 0px;
  padding: 0px;
  top: 27px;
  z-index: 9999;
}

#halbkreis {
  position: relative;
  width: 50px;
  top: 24px;
  display: inline-block;
}

/* --------------------------------------- */

#Main_Container_Registry {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 850px;
}

#Registry_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  height: auto;
  width: 400px;
  min-width: 300px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgb(209, 209, 209);
}

#Registry_Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.input_registry {
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

#Submit_Btn {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

#Submit_Btn:hover {
  background-color: #0056b3;
}

#error_message {
  color: red;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

#Navigate_To_LoginDIV {
  display: flex;
  justify-content: center;
  width: 100%;
}

#Sign_In {
  color: #1976d2;
}
